.online {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background: #4fae50;
}

.offline {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background: #fb554f;
}

.name {
  font-size: 20px;
  font-weight: 600;
}
