.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* color: #fff; */
  text-decoration: none;
}

.item {
  display: flex;
  flex-direction: column;
  flex: 1 1 20%;
  align-items: center;
  box-shadow: 0px 0px 0px 1px #6a6a6a;
  border-radius: 4px;
  text-decoration: none;
}
